.mywrapper {
  padding: 0;
}
#section1 {
  background-color: #f5f5f7;
  background-image: url('./typo_1_main_title.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 32px;
  transition: 0.2s ease;
}
.magnet-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
  justify-content: space-between;
  aspect-ratio: 1440/840;
  position: relative;
  padding-block: 1.6vw 2vw;
}
.magnet-tr {
  display: flex;
  gap: 0.4vw;
  justify-content: space-between;
}
.magnet {
  display: flex;
  gap: 0.4vw;
}
.m-element {
  background-color: #161617;
  border-radius: 0.2vw;
  height: 0.4vw;
}
.m-line {
  aspect-ratio: 3 / 1;
}
.m-dot {
  aspect-ratio: 1 / 1;
}
.magent-sp-tr {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.m-sp {
  position: relative;
  width: 3.6vw;
}
.m-sp .magnet {
  position: absolute;
}
.m-90 {
  transform: rotate(90deg);
}
.m-45 {
  transform: rotate(45deg);
}
.m-135 {
  transform: rotate(135deg);
}

#section2 {
  background-color: #1d1d1f;
  aspect-ratio: 1440/769;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 5rem;
  overflow: hidden;
}
.container {
  width: 25%;
  perspective: 1000px;
}
.cardbox-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-273px) rotateY(0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotateAnimation 10s ease infinite forwards;
}
@keyframes rotateAnimation {
  2% {
    transform: translateZ(-273px) rotateY(0deg);
  }
  16% {
    transform: translateZ(-273px) rotateY(-180deg);
  }
  86% {
    transform: translateZ(-273px) rotateY(-180deg);
  }
  100% {
    transform: translateZ(-273px) rotateY(0deg);
  }
}

.cardbox {
  animation: moveToBottom 10s ease infinite forwards;
}
@keyframes moveToBottom {
  18% {
    margin-top: 0;
  }
  32% {
    margin-top: 500%;
  }
  70% {
    margin-top: 500%;
  }
  84% {
    margin-top: 0;
  }
}
.spinImg,
.flipImg {
  position: absolute;
}
.cardbox-back {
  transform: translateZ(26px) rotateY(0deg);
}
.cardbox-side {
  transform: translateZ(13px) rotateY(90deg);
}
.cardbox-front {
  transform: translateZ(0) rotateY(180deg);
}
.flip-wrap {
  width: 96%;
  height: auto;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  animation: rotateCard 10s ease infinite forwards;
}
@keyframes rotateCard {
  32% {
    transform: rotateY(0deg);
  }
  42% {
    transform: rotateY(180deg);
  }
  60% {
    transform: rotateY(180deg);
  }
  70% {
    transform: rotateY(0deg);
  }
}
.card-front,
.card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}

/*애니메이션 딜레이*/
.c2 .cardbox-wrap,
.c2 .flip-wrap,
.c2 .cardbox {
  animation-delay: 0.2s;
}
.c3 .cardbox-wrap,
.c3 .flip-wrap,
.c3 .cardbox {
  animation-delay: 0.4s;
}
.c4 .cardbox-wrap,
.c4 .flip-wrap,
.c4 .cardbox {
  animation-delay: 0.6s;
}

#section6 {
  position: relative;
  width: 100%;
  aspect-ratio: 1440/769;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.s6back {
  position: absolute;
  z-index: -1;
}
.m-animation-wrap {
  max-width: 50%;
  padding: 10% 16% 10% 6%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.m-s6 {
  position: absolute;
}
.m-bg {
  animation: opacityMBg 4s ease infinite;
}
.m-s6 .m-45 {
  transform: rotate(0deg);
  animation: rotateM45 4s ease infinite;
}
.m-s6 .m-90 {
  transform: rotate(0deg);
  animation: rotateM90 4s ease infinite;
}
.m-s6 .m-135 {
  transform: rotate(0deg);
  animation: rotateM135 4s ease infinite;
}
@keyframes rotateM45 {
  20% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(45deg);
  }
  70% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateM90 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  70% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotateM135 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(90deg);
  }
  30% {
    transform: rotate(135deg);
  }
  70% {
    transform: rotate(135deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes opacityMBg {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*효과 전용 class*/
.invisible {
  opacity: 0;
}
