.mywrapper {
  padding: 0;
}
/* 1 표지 자침 */
#section1 {
  background-color: #f5f5f7;
  background-image: url('./typo_1_main_title.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 32px;
  transition: 0.2s ease;
}
.magnet-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
  justify-content: space-between;
  aspect-ratio: 1440/840;
  position: relative;
  padding-block: 1.6vw 2vw;
}
.magnet-tr {
  display: flex;
  gap: 0.4vw;
  justify-content: space-between;
}
.magnet {
  display: flex;
  gap: 0.4vw;
}
.m-element {
  background-color: #161617;
  border-radius: 0.2vw;
  height: 0.4vw;
}
.m-line {
  aspect-ratio: 3 / 1;
}
.m-dot {
  aspect-ratio: 1 / 1;
}
.magent-sp-tr {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.m-sp {
  position: relative;
  width: 3.6vw;
}
.m-sp .magnet {
  position: absolute;
}
.m-90 {
  transform: rotate(90deg);
}
.m-45 {
  transform: rotate(45deg);
}
.m-135 {
  transform: rotate(135deg);
}
/* 카드 뒤집기 */
#section2,
#section7 {
  height: 70vw;
    max-height: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 4vw;
  overflow: hidden;
  align-items: center;
  background: rgb(115,117,132);
    background: linear-gradient(180deg, rgba(115,117,132,1) 0%, rgba(170,172,185,1) 30%, rgba(170,172,185,1) 60%, rgba(29,29,31,1) 100%);
}
#section7 {
  background: rgb(115,117,132);
  background: linear-gradient(0deg, rgba(115,117,132,1) 0%, rgba(170,172,185,1) 30%, rgba(170,172,185,1) 60%, rgba(29,29,31,1) 100%);
}
.card-container {
  width: 25%;
  perspective: 1000px;
}
.spinImg,
.flipImg {
  position: absolute;
}
.flip-wrap {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}
#section7 .flip-wrap {
  width: 96%;
  margin-top: 2%;
}
#section2 .flip-wrap {
  width: 90%;
}
#section2 .c1 .flip-wrap,
#section2 .c3 .flip-wrap {
  animation: rotateCard1 8s ease infinite forwards;
}
#section2 .c2 .flip-wrap,
#section2 .c4 .flip-wrap {
  transform: rotateY(180deg);
  animation: rotateCard2 8s ease infinite forwards;
}
@keyframes rotateCard1 {
  25% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes rotateCard2 {
  25% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  75% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(540deg);
  }
}
.card-front,
.card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}
/* 카드 박스 */
.cardbox-back {
  transform: translateZ(26px) rotateY(0deg);
}
.cardbox-side {
  transform: translateZ(13px) rotateY(90deg);
}
.cardbox-front {
  transform: translateZ(0) rotateY(180deg);
}
.cardbox-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-273px) rotateY(0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.c1 .cardbox-wrap,
.c3 .cardbox-wrap {
  transform: translateZ(-273px) rotateY(-180deg);
  animation: rotateAnimation1 8s ease infinite forwards;
}
.c2 .cardbox-wrap,
.c4 .cardbox-wrap {
  animation: rotateAnimation2 8s ease infinite forwards;
}
@keyframes rotateAnimation1 {
  25% {
    transform: translateZ(-273px) rotateY(-180deg);
  }
  50% {
    transform: translateZ(-273px) rotateY(0deg);
  }
  75% {
    transform: translateZ(-273px) rotateY(0deg);
  }
  100% {
    transform: translateZ(-273px) rotateY(180deg);
  }
}
@keyframes rotateAnimation2 {
  25% {
    transform: translateZ(-273px) rotateY(0deg);
  }
  50% {
    transform: translateZ(-273px) rotateY(180deg);
  }
  75% {
    transform: translateZ(-273px) rotateY(180deg);
  }
  100% {
    transform: translateZ(-273px) rotateY(360deg);
  }
}
/*애니메이션 딜레이
.c2 .cardbox-wrap,
.c2 .flip-wrap,
.c2 .cardbox {
  animation-delay: 0.2s;
}*/
.c3 .cardbox-wrap,
.c3 .flip-wrap,
.c3 .cardbox {
  animation-delay: 0.4s !important;
}
.c4 .cardbox-wrap,
.c4 .flip-wrap,
.c4 .cardbox {
  animation-delay: 0.4s !important;
}
#section6 {
  padding-inline: 4vw;
  display: inline-block;
  background-color: #1d1d1f;
}
.s6-img {
  padding-top: 6vw;
}
.achive-wrap {
  display: flex;
  aspect-ratio: 1280/500;
  margin-block: 12vw;
}
.achive-card,
.achive-text {
  flex: 1 0 0;
}
.achive-card img {
  height: 100%;
}
/*효과 전용 class*/
.invisible {
  opacity: 0;
}
