.mywrapper {
  padding: 0;
}
#section1 {
  background-color: white;
  background-image: url('./typo_1_main_title.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 32px;
  transition: 0.2s ease;
}
#section1:hover {
  filter: invert(100%);
}
.magnet-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;
  justify-content: space-between;
  aspect-ratio: 1440/840;
  position: relative;
  padding-block: 1.6vw 2vw;
}
.magnet-tr {
  display: flex;
  gap: 0.4vw;
  justify-content: space-between;
}
.magnet {
  display: flex;
  gap: 0.4vw;
}
.m-element {
  background-color: #333333;
  border-radius: 0.2vw;
  height: 0.4vw;
}
.m-line {
  aspect-ratio: 3 / 1;
}
.m-dot {
  aspect-ratio: 1 / 1;
}
.magent-sp-tr {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.m-sp {
  position: relative;
  width: 3.6vw;
}
.m-sp .magnet {
  position: absolute;
}
.m-90 {
  transform: rotate(90deg);
}
.m-45 {
  transform: rotate(45deg);
}
.m-135 {
  transform: rotate(135deg);
}

#section2 {
  background-color: #333;
  aspect-ratio: 1440/769;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline: 1.5rem;
  overflow: hidden;
}
.container {
  width: 25%;
  perspective: 1000px;
}
.cardbox-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-273px) rotateY(0deg);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: rotateAnimation 16s ease infinite forwards;
}
.c2 .cardbox-wrap {
  animation-delay: 0.2s;
}
.c3 .cardbox-wrap {
  animation-delay: 0.4s;
}
.c4 .cardbox-wrap {
  animation-delay: 0.6s;
}
@keyframes rotateAnimation {
  6.25% {
    transform: translateZ(-273px) rotateY(0deg);
  }
  19.5% {
    transform: translateZ(-273px) rotateY(-180deg);
  }
  80% {
    transform: translateZ(-273px) rotateY(-180deg);
  }
  100% {
    transform: translateZ(-273px) rotateY(0deg);
  }
}

.cardbox {
  animation: moveToBottom 16s ease infinite forwards;
}
.c2 .cardbox {
  animation-delay: 0.2s;
}
.c3 .cardbox {
  animation-delay: 0.4s;
}
.c4 .cardbox {
  animation-delay: 0.6s;
}
@keyframes moveToBottom {
  25% {
    margin-top: 0;
  }
  36.5% {
    margin-top: 500%;
  }
  67.75% {
    margin-top: 500%;
  }
  80.25% {
    margin-top: 0;
  }
}
.spinImg,
.flipImg {
  position: absolute;
}
.cardbox-back {
  transform: translateZ(26px) rotateY(0deg);
}
.cardbox-side {
  transform: translateZ(13px) rotateY(90deg);
}
.cardbox-front {
  transform: translateZ(0) rotateY(180deg);
}
.flip-wrap {
  width: 96%;
  height: auto;
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*효과 전용 class*/
.invisible {
  opacity: 0;
}
